Package: reqrypt
Version: 1.4.1
Maintainer: Basil <basil@reqrypt.org>
Section: net
Priority: optional
Homepage: http://reqrypt.org
Architecture: amd64
Depends: libc6 (>= 2.7)
Description: Reqrypt client
 ReQrypt (REQuest ecRYPTion) is a tool for encrypting your web browser requests
 -- i.e. the URLs you type into your address bar -- so malicious parties cannot
 read them. ReQrypt is specifically designed for (1) bypassing ISP-level URL
 censorship systems; and (2) bypassing ISP-level URL logging and data retention
 systems. 
